/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* Header Component */

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: 'Inter', sans-serif;
}

.header__logo a {
  font-size: 30px;
  color: white;
  transition: 0.6s ease;
  display: block;
}

.header__logo a:hover {
  transform: translateY(-10px);
}

.header__logo span {
  color: #e203ff;
}

.header__menu {
  display: flex;
}

.header__menu li {
  margin-right: 60px;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}

.header__menu li a {
  text-decoration: none;
  color: white;
}

.header__menu li a:hover {
  color: #e203ff;
}

/* Home Section*/

.home {
  color: white;
}

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.home__text {
  display: flex;
  height: 30px;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Inter', sans-serif;
}

.home__contact {
  position: absolute;
  top: 70%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__contact img {
  display: block;
  margin-right: 30px;
  transition: 0.5s ease;
}

.home__contact a:hover img {
  transform: scale(1.2);
}

.home__contact-line {
  flex-grow: 0.1;
  height: 2px;
  width: 10%;
  background: rgba(255, 255, 255, 0.5);
  margin-right: 30px;
}

/* Phone Component */

.phone {
  width: 250px;
  height: 500px;
  background-image: url('./assets/phone.png');
  background-size: 239% 121%;
  background-position: center 41.999%;
  background-repeat: no-repeat;
  border-radius: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 10px 200px rgba(186, 10, 229, 0.7));
}

/* Ticker */

.skills-ticker {
  margin-top: 30px;
  overflow: hidden;
  width: 100%;
  background: #580c76;
  padding: 10px 0;
}

.skills-ticker__ticker {
  display: flex;
  gap: 40px;
  animation: scroll 20s linear infinite;
  width: fit-content;
}

.skills-ticker__ticker-item {
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 500;
  opacity: 0.8;
  transition: transform 0.3s ease;
}

.skills-ticker__ticker-item:hover {
  transform: scale(1.05);
  opacity: 1;
}

.skills-ticker__ticker-item .icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* About Section */

.about__title {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin: 40px 0 40px 40px;
}

.about-container {
  display: flex;
  justify-content: space-between;
}

.chat {
  margin-left: 30px;
  display: flex;
  align-items: flex-start;
}

.chat img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-bubble {
  margin: 30px;
  position: relative;
  background: #333;
  color: white;
  padding: 15px 20px;
  border-radius: 15px;
  max-width: 300px;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.chat-bubble::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #333 transparent transparent;
}

/* Neon Cursor */

.cursor {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #0ff;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px #0ff, 0 0 30px #0ff;
  transition: transform 0.05s ease;
  z-index: 9999;
}

.cursor-line {
  position: fixed;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: cyan;
  pointer-events: none;
  z-index: 9999;
  filter: blur(4px);
  transition: transform 0.05s linear;
}

#app {
  overflow: hidden;
}

#app h1 {
  --fontSize: 70px;
  --lineHeight: 90px;
  width: auto;
  height: calc(2 * var(--lineHeight));
  line-height: var(--lineHeight);
  margin: calc(50vh - var(--lineHeight)) auto 0;
  text-align: center;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--fontSize);
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}

#app canvas {
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
}

.content {
  display: block;
  height: 300px;
}
